* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.if-basket-empty {
    text-align: center;
    margin: 100px 0 100px 0;
}

#basket {
    .basket__title {
        text-align: center;
    }
    .basket__container {
        margin: 24px;
        .products {
            .product {
                display: flex;
                justify-content: space-between;
                margin: 12px;
                padding-bottom: 10px;
                border-bottom: 1px solid gray;
                .product__info {
                    display: flex;
                    width: 100%;
                    .product__info--image {
                        max-width: 150px;
                        display: flex;
                        // object-fit: cover;
                        align-self: center;
                        .img {
                            width: 100%;
                            border-radius: 10px;
                        }
                    }
                    .product__info--text {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        margin-left: 12px;
                        width: 100%;
                        .product__title {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                        }
                        .product__color {
                            margin: 6px 0;
                        }
                        .product__buttons {
                            .delete__article {
                                padding: 6px;
                                margin: 6px 6px 0 0;
                            }
                        }
                    }
                }
            }
        }
        .bill {
            margin: 12px;
            padding: 12px;
            display: flex;
            flex-direction: column;
            border: 2px solid gray;
            border-radius: 10px;
            h4 {
                margin-left: 12px;
            }
            .bill__info {
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-weight: bold;
                margin: 12px 12px 0 12px;
                .bill__info--text {
                    font-size: 24px;
                }
                .bill__info--total {
                    font-size: 30px;
                }
            }
        }
    }
}

.clear__basket {
    padding: 12px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.clear__basket--btn {
    padding: 16px;
    width: 50%;
    max-width: 250px;
}

button {
    cursor: pointer;
}

@media screen and (max-width: 550px) {
    .product__info {
        flex-direction: column;
        .product__info--image {
            max-width: 500px !important;
            .img {
                max-width: none;
            }
        }
        .product__info--text {
            margin-top: 12px;
            margin-left: 0 !important;
            .product__buttons {
                display: flex;
                flex-direction: column;
                align-self: center;
            }
        }
    }
}

@media screen and (min-width: 900px) {
    .basket__container {
        display: flex;
        justify-content: space-around;
        .products {
            width: 60%;
        }
        .bill {
            align-self: flex-end;
        }
    }
}


// --- CONTACT FORM ---

* {
	box-sizing: border-box;
}

#contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 24px;
    margin-top: 48px;
    .form__container {
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        overflow: hidden;
        width: 100%;
        max-width: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-self: center;
        justify-items: center;
        margin: 0 auto;
        .header {
            border-bottom: 1px solid #f0f0f0;
            background-color: #f7f7f7;
            padding: 20px 40px;
        }
        .form {
            padding: 30px 40px;	
            .form-control {
                margin-bottom: 10px;
                padding-bottom: 20px;
                position: relative;
                label {
                    display: inline-block;
                    margin-bottom: 5px;
                }
                input {
                    border: 2px solid #f0f0f0;
                    border-radius: 4px;
                    display: block;
                    font-family: inherit;
                    font-size: 14px;
                    padding: 10px;
                    width: 100%;
                }
                input:focus {
                    outline: 0;
                    border-color: #777;
                }
            }
            .form__error {
                color: red;
                font-size: 20px;
                margin: 12px 0 12px 0;
            }
            .commande__btn {
                background-color: #8e44ad;
                border: 2px solid #8e44ad;
                border-radius: 4px;
                color: #fff;
                display: block;
                font-family: inherit;
                font-size: 16px;
                padding: 10px;
                margin-top: 20px;
                width: 100%;
            }
        }
    }
}
