
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.product {
    display: flex;
    margin: 36px 12px;
    .product__image {
        // width: 100%;
        // display: flex;
        // justify-content: center;
        img {
            width: 100%;
            border-radius: 10px;
            // max-width: 700px;
        }
    }
    .product__infos {
        // width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .product__title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 12px;
            .product__name {
                font-size: 30px;
            }
            .product__price {
                font-weight: bold;
                font-size: 24px;
            }
        }
        .product__description {
            margin: 12px;
            width: 70%;
        }
        .product__color {
            margin: 24px 12px 50px 12px;
        }
    }
}
// .product__button {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     margin: 12px;
//     .btn {
//         padding: 12px;
//         width: 30%;
//     }
// }
.product__button {
    display: flex;
    // justify-content: space-around;
    margin: 12px;
    // position: absolute;
    // bottom: 0;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    align-items: center;
    align-self: center;
    align-content: center;
    align-self: center;
    width: 60%;
    .btn {
        padding: 20px;
        border-radius: 12px;
        width: 100%;
        background-color: cornflowerblue;
        color: white;
        font-size: 18px;
        cursor: pointer;
    }
}

.added__msg {
    visibility: hidden;
    display: flex;
    justify-content: center;
    .added__msg--text {
        font-size: 24px;
    }
}

@media screen and (max-width: 900px) {
    .product {
        flex-direction: column;
        // .product__image {
        //     display: flex;
        //     justify-content: center;
        //     img {
        //         max-width: 700px;
        //     }
        // }
        .product__infos {

            // .product__title {
            //     flex-direction: column;
            // }
            .product__description {
                width: 85%;
            }
        }
    }
}

@media screen and (max-width: 300px) {
    // .product__title {
    //     flex-direction: column;
    // }
    .product__description {
        width: 100%;
    }
}