.container {
  max-width: 1200px;
  margin: 0 auto;
}

.container-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

a {
  text-decoration: none;
  color: black;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 36px 12px;
}

.product .product__image img {
  width: 100%;
  border-radius: 10px;
}

.product .product__infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product .product__infos .product__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 12px;
}

.product .product__infos .product__title .product__name {
  font-size: 30px;
}

.product .product__infos .product__title .product__price {
  font-weight: bold;
  font-size: 24px;
}

.product .product__infos .product__description {
  margin: 12px;
  width: 70%;
}

.product .product__infos .product__color {
  margin: 24px 12px 50px 12px;
}

.product .product__infos .product__color #color {
  font-size: 16px;
}

.product .product__infos .product__quantity {
  margin: 12px;
}

.product__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-self: center;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-flex-line-pack: center;
      align-content: center;
  align-self: center;
  width: 60%;
}

.product__button .btn {
  padding: 20px;
  border-radius: 12px;
  width: 100%;
  background-color: #8e44ad;
  border: 2px solid #8e44ad;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.added__msg {
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 24px;
}

.added__msg .added__msg--text {
  color: red;
  font-size: 24px;
}

.confirmation__container {
  border: 3px solid green;
  background-color: white;
  width: 90%;
  height: 50%;
  position: fixed;
  visibility: hidden;
}

.confirmation__container .confirmation--msg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid green;
  padding: 12px;
}

.confirmation__container .confirmation--msg .confirmation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.confirmation__container .confirmation--msg .confirmation .confirmation--msg-text {
  color: green;
  text-align: center;
  font-size: 24px;
  margin: 12px;
}

.confirmation__container .confirmation--msg .confirmation .close__box {
  color: red;
  padding: 3px;
  font-size: 32px;
  margin-right: 6px;
  position: absolute;
  right: 0;
  top: 0;
}

.confirmation__container .confirmation--msg .confirmation .close__box :hover {
  background-color: green;
}

.confirmation__container .confirmation--msg .confirmation--msg-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.confirmation__container .confirmation--msg .confirmation--msg-links .confirmation--msg-continue {
  background-color: tomato;
  border-radius: 4px;
  padding: 6px;
  margin: 6px;
}

.confirmation__container .confirmation--msg .confirmation--msg-links .confirmation--msg-basket {
  background-color: tomato;
  border-radius: 4px;
  padding: 6px;
  margin: 6px;
}

.confirmation__container .confirmation__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 12px;
}

.confirmation__container .confirmation__product .img {
  max-width: 200px;
  border-radius: 6px;
  margin: 12px;
}

.confirmation__container .confirmation__product .confirmation__product--infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
}

@media screen and (max-width: 900px) {
  .product {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .product .product__infos .product__description {
    width: 85%;
  }
}

@media screen and (max-width: 300px) {
  .product__description {
    width: 100%;
  }
}

@media screen and (min-width: 800px) {
  .confirmation__container {
    max-width: 800px;
  }
  .confirmation__container .confirmation--msg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .confirmation__container .confirmation--msg .confirmation .confirmation--msg-text {
    font-size: 30px;
  }
  .confirmation__container .confirmation--msg .confirmation .close__box {
    font-size: 40px;
  }
  .confirmation__container .confirmation--msg .confirmation .confirmation--msg-links {
    font-size: 22px;
  }
  .confirmation__container .confirmation__product {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .confirmation__container .confirmation__product .img {
    max-width: 300px;
  }
  .confirmation__container .confirmation__product .confirmation__product--infos {
    font-size: 22px;
  }
}
/*# sourceMappingURL=product.css.map */